layout {
    default_tab_template {
        children
        pane size=1 borderless=true {
            plugin location="zellij:tab-bar"
        }
        pane size=2 borderless=true {
            plugin location="zellij:status-bar"
        }
    }

    tabs {
        tab name="term" {
            pane
        }
        tab name="code" {
            pane command="nvim"
            pane split_direction="vertical" {
                pane
                pane split_direction="horizontal"
            }
        }
        tab name="monitor" {
            pane command="btm"
            pane split_direction="vertical" {
                pane command="nvim" cwd="/tmp"
                pane command="lazygit"
            }
        }
    }
}
