# Build
bin/
bin-debug/
bin-release/
[Bb]in/
[Oo]bj/

# Go
*.out
*.test
*.test.exe
!Dockerfile.test
vendor/

# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/

# Editor
.obsidian
.settings/
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Build artifacts
installer

# E2E
e2e/pacman-installer-*

# Temp
/tmp/
*.log
